$h50px: 50px;
$h30px: 30px;

.task-form-wrapper {
  height: 100%;
  width: 100%;
  background-color: #44C7CD;
  position: sticky;
  top: 72px;


  &::after {
    display: block;
    height: 100%;
    width: 100%;
    background-color: #44C7CD;
    content: '';
    position: absolute;
    top: -100%;

  }

  @media screen and (max-width: 576px) {
    top: 52px;
  }

  .task-form {
    margin: 10px auto 5px;
    text-align: center;
    width: 50%;
    height: $h30px;
    text-wrap: none;
    z-index: 2;


    @media screen and (max-width: 576px) {
      width: 90%;
      top: 32px;
    }

    input {
      height: 28px;
      width: 80%;
      border: 1px solid grey;
      border-radius: 8px 0 0 8px;
      padding-left: 5px;
      padding-bottom: 0;
      padding-top: 0;
      display: block;
      border-right: none;
      float: left;
    }

    button {
      width: 20%;
      margin-left: -8px;
      display: block;
      float: right;
      position: relative;
    }
  }
}

